<div class="content">
    <div class="form__user-common">
        <div class="form-user" style="padding: 0;">
            <div class="form-user__heading" style="height: 50px; background-color: rgb(248,249,252)">
                <h1>Database nguoidung</h1>
            </div>
            <div class="form-user__content" style="padding: 20px;">
                <div class="info__user">
                    <div>
                        <p style="display: inline-block;">Họ và tên</p>
                        <span>:</span>{{{loginRegister.fullname}}}
                    </div>
                </div>

                <div class="info__user">
                    <div>
                        <p style="display: inline-block;">
                            Email
                        </p>
                        <span>:</span>{{{loginRegister.email}}}
                    </div>
                </div>

                <div class="info__user">
                    <div>
                        <p style="display: inline-block;">
                            Tên đăng nhập
                        </p>
                        <span>:</span>{{{loginRegister.username}}}
                    </div>
                </div>

                <div class="info__user">
                    <div>
                        <p style="display: inline-block;">
                            Ngày tạo tài khoản
                        </p>
                        <span>:</span>{{{loginRegister.createdAt}}}
                    </div>
                </div>
                <div class="info__user">
                    <div>
                        <p style="display: inline-block;">
                            Ngày chỉnh sửa tài khoản 
                        </p>
                        <span>:</span>{{{loginRegister.updatedAt}}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>