<div class="form__user-common pb-30">
    <div class="form-user">
        <h1>Danh sách bài viết</h1>
        <div class="form__CRUD">
            <div>
                <div class="print-output-file">
                    <span>
                        <i class="fas fa-file-excel"></i>
                        Xuất excel
                    </span>
                </div>
                <div class="print-output-file">
                    <span>
                        <i class="fas fa-print"></i>
                        In
                    </span>

                </div>
                <div class="print-output-file">
                    <span>
                        <i class="fas fa-file-pdf"></i>
                        Xuất Pdf
                    </span>
                </div>
            </div>
            <div>
                <span>Search</span>
                <input type="text" class="search" placeholder="Tìm kiếm ở đây">
            </div>
        </div>

        <table style="width: 100%;" border="0">
            <thead>
                <th style="10%;">#</th>
                <th style="15%;">Ảnh bài viết</th>
                <th style="30%;">Họ và tên</th>
                <th>Chức năng</th>
            </thead>
            <tbody>
                {{#each blogUser}}
                <tr>
                    <th>{{sum @index 1}}</th>
                    <th><img src="{{this.image}}" alt="" style="width: 50px; height: 50px; border-radius:12px;"></th>
                    <th>{{this.username}}</th>
                    <th>
                        <a href="/homeAdmin/user/blog/{{this.slug}}" class="btn-view btn">
                            <i class="fas fa-edit"></i>
                            <span>xem</span>
                        </a>
                        <a href="/homeAdmin/{{this._id}}/editPost" class="btn-update btn">
                            <i class="fas fa-edit"></i>
                            <span>sửa</span>
                        </a>
                        <form action="/homeAdmin/{{this._id}}/posts?_method=DELETE" method="post" style="display: inline-block; position: relative; top:0px" class="btn btn-delete">
                            <button style="background-color: transparent; border: none; color: var(--white-color);font-size: 1.6rem;font-weight: 600; cursor: pointer;width: 100%; height: 25px;">
                                <i class="fas fa-trash-alt"></i>
                                <span>xóa</span>
                            </button>
                        </form>
                    </th>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>