
<div class="content">
    <div class="form__user-common">
        <div class="form-user">
            <div style="margin-bottom: 10px;" class="form-user__heading">
                <a href="/homeAdmin/viewPosts?page=1">Danh sách bài viết</a>
                <h1>Bài viết đã xóa</h1>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>#</th>
                        <th style="width: 15%;">Ảnh</th>
                        <th style="width: 40%;">Tên</th>
                        <th style="width: 14%;">Miêu tả</th>
                        <th style="width: 20%;">chức năng</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each slideshow}}
                    <tr>
                        <th scope="row">
                            {{sum @index 1}}
                        </th>
                        <th><img src="{{this.image}}"style="width: 50px; height: 50px; border-radius:12px;"></th>
                        <th>{{this.name}}</th>
                        <th><a href="/homeAdmin/{{this.slug}}">Xem chi tiết</a></th>
                        <th>
                            <div style="display: grid; grid-template-columns: 1fr 1fr;padding: 0 12px; grid-column-gap: 12px; grid-row-gap: 8px;">
                                <form action="/homeAdmin/{{this._id}}/restoreSlide?_method=PATCH" method="post">
                                    <button class="btn btn-update" style="min-width: 150px; border-radius: 8px;">
                                        <i class="far fa-trash-alt"></i>
                                        <span>Khôi phục</span>
                                    </button>
                                </form>
                                
                                <form action="/homeAdmin/{{this._id}}/forceSlide?_method=DELETE" method="post" style="position: relative; top: 3px">
                                    <button class="btn btn-delete" style="min-width: 150px; border-radius: 8px;">
                                        <i class="far fa-trash-alt"></i>
                                        <span>Xóa vĩnh viễn</span>
                                    </button>
                                </form>
                            </div>
                        </th>
                    </tr>
                    {{else}}
                    <tr>
                        <th colspan="5" style="border-bottom: 1px solid #fff;">
                            Thùng rác trống.
                            <a href="/homeAdmin/viewPosts">Danh sách bài viết</a>
                        </th>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>

