<div class="form__user-common">
    <p>Quản lý người dùng</p>
    <button class="add__new-user">
        <i class="fas fa-plus"></i>
        Thêm mới
    </button>
    <div  class="form-user">
        <span>Thông tin cá nhân</span>
        <div class="form__CRUD">
            <div>
                <div class="print-output-file">
                    <span>
                        <i class="fas fa-file-excel"></i>
                        Xuất excel
                    </span>
                </div>
                <div class="print-output-file">
                    <span>
                        <i class="fas fa-print"></i>
                        In
                    </span>

                </div>
                <div class="print-output-file">
                    <span>
                        <i class="fas fa-file-pdf"></i>
                        Xuất Pdf
                    </span>
                </div>
            </div>
            <div>
                <span>Search</span>
                <input type="text" class="search" placeholder="Tìm kiếm ở đây">
            </div>
        </div>

        <table style="width: 100%;">
            <thead>
                <th style="width: 8%;">#</th>
                <th style="width: 14%;">Họ và tên</th>
                <th style="width: 14%;">Tài khoản</th>
                <th style="width: 8%;">Email</th>
                <th>Chức năng</th>
            </thead>
            <tbody>
                {{#each loginRegister}}
                <tr>
                    <th>{{sum @index 1}}</th>
                    <th>{{this.fullname}}</th>
                    <th>{{this.username}}</th>
                    <th>{{this.email}}</th>
                    <th>
                        <a href="/homeAdmin/user/{{this.infoUser}}" class="btn-view btn">
                            <i class="fas fa-eye"></i>
                            <span>Xem</span>
                        </a>
                        <a href="/homeAdmin/{{this._id}}/editRegister" class="btn-update btn">
                            <i class="fas fa-edit"></i>
                            <span>Sửa</span>
                        </a>
                        <form action="/homeAdmin/{{this._id}}/user?_method=DELETE" method="post" style="display: inline-block;">
                            <button class="btn-delete btn">
                                <i class="fas fa-trash-alt"></i>
                                <span>Xóa</span>
                            </button>
                        </form>
                    </th>
                    
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

    
    <div class="layout-user"></div>
    <div class="model__container">
        <div class="model__user">
            <div class="btn-close__user">&times;</div>
            <form action="/homeAdmin/register" method="post">
                <div class="form-group">
                    <label for="" class="form-label__user">Họ và tên</label>
                    <div class="form-group__sub-div">
                        <i class="form-icon__user fas fa-user-friends"></i>
                        <input type="text" name="fullname" id="" class="form-input__user" placeholder="Họ và tên">
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="form-label__user">email</label>
                    <div class="form-group__sub-div">
                        <i class="form-icon__user fas fa-user-friends"></i>
                        <input type="text" name="email" id="" class="form-input__user" placeholder="email">
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="form-label__user">Tên tài khoản</label>
                    <div class="form-group__sub-div">
                        <i class="form-icon__user fas fa-user"></i>
                        <input type="text" name="username" id="" class="form-input__user" placeholder="Tên tài khoản">
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="form-label__user">Mật khẩu</label>
                    <div class="form-group__sub-div">
                        <i class="form-icon__user fas fa-lock"></i>
                        <input type="password" name="password" id="" class="form-input__user" placeholder="Mật khẩu">
                    </div>
                </div>

                <div class="form-btn">
                    <input type="button" value="Hủy" class="form-btn__cancel">
                    <input type="submit" value="Lưu" class="form-btn__save">
                </div>
            </form>
        </div>
    </div>
</div>