
<div class="content">
    <div class="form__user-common">
        <div class="form-user">
            <div class="form-user__heading">
                <h1>Bài viết của tôi</h1>
                <a href="/homeAdmin/trashViewPosts">Thùng rác ({{deletedSlide}}) </a>
            </div>

            <table>
                <thead>
                    <tr>
                        <th style="width: 10%;">
                            
                        </th>
                        <th style="width: 10%;">Ảnh</th>
                        <th style="width: 40%;">
                            Tên laptop
                            {{{sortable 'name' _sort}}}
                        </th>
                        <th style="width: 15%;">chức năng</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each slideshow}}
                    <tr>
                        <th scope="row">
                            {{sum @index 1}}
                        </th>
                        <th><img src="{{this.image}}"style="width: 50px; height: 50px; border-radius:12px;"></th>
                        <th>{{this.name}}</th>
                        <th>
                            <div style="display: grid; grid-template-columns: 1fr 1fr 1fr;padding: 0 12px; grid-column-gap: 12px; grid-row-gap: 8px; align-items: center">
                               <a href="/homeAdmin/{{this.slug}}" class="btn btn-view">
                                    <i class="fas fa-eye"></i>
                                    <span>xem</span>
                                </a>
                                <a href="/homeAdmin/{{this._id}}/edit" class="btn btn-update">
                                    <i class="fas fa-edit"></i>
                                    <span>sửa</span>
                                </a>
                                <form action="/homeAdmin/{{this._id}}?_method=DELETE" method="post" class="btn btn-delete" style="position: relative; top: 0">
                                    <button style="background-color: transparent; border: none;font-size: 1.8rem;font-weight: 600;color: var(--white-color);">
                                        <i class="far fa-trash-alt"></i>
                                        <span>Xóa</span>
                                    </button>
                                </form>
                            </div>
                        </th>
                    </tr>
                    {{else}}
                    <tr>
                        <th colspan="5" style="border-bottom: 1px solid #fff;">
                            Bạn chưa có bài viết nào.
                            <a href="/homeAdmin/handleUser">Đăng bài viết</a>
                        </th>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>

